body {
    background-color: #e87a74;
}

.nome {
    color: #910b04;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
}

.venha {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    margin: 20px;
}

.titulo2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
}

.paragrafo {
    color: #ffff;
    font-family: garamond;
    margin: 10px;
}

.titulo3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}

.titulo4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.paragrafo2 {
    color: #ffff;
    font-family: garamond;
}

.titulo5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.paragrafo3 {
    color: #ffff;
    font-family: garamond;
}