.nome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
}

.venha {
    font-family:'Courier New', Courier, monospace
}

.titulo2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
}